.topbar{
    background-color: #FFFFFF;
}
.topright{
    color: grey;
}
.logout{
    margin-right: 10px;
}
.toprightbutton{
    border-color: transparent;
    border-style: solid;
    background-color: #FFFFFF;
    cursor: pointer;
}
.inputbase{
    color: black;
    border-color: transparent;
    background-color: #FFFFFF;
    
}
.inputbase:focus{
    outline-color: #FFFFFF;
}
.thirdbox{
    display:flex;
    background-color: red;
    border-radius: 1px;
}